{% extends "base.html" %}

{%block title%} Post all page {%endblock%}

{%block content%}

<div id ="content">

    {% for post in posts %}
        <h2>
        <a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
        {{post.modify_date| date:"Y-m-d H:i"}}
        <p>{{post.description}}</p>
    {% endfor %}
    <br/>
    </h2>
    <!-- paging link -->
    <div>
        
            
            {% if page_obj.has_previous %}
                {% comment %} &lt;&lt; {% endcomment %}
                <a href ="?page={{ page_obj.previous_page_number}}">Prev</a>
            {% endif %}

            [Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}]

            {% if page_obj.has_next %}
                {% comment %} &gt;&gt; {% endcomment %}
                <a href ="?page={{ page_obj.next_page_number}}">Next</a>
            {% endif %}

        
        
    </div>
</div>
{%endblock%}